[2018-11-09 15:41] ricardoduplos opened #1 "Normalize eslint config"
Check https://github.com/developmentseed/project-seed code base.

[2018-11-09 15:43] ricardoduplos opened #2 "Enhance app structure"
To allow the use of CSS classes on page wrapper element.

[2018-11-12 14:29] #1 closed, assigned to vgeorge

[2018-11-12 14:29] #2 closed, assigned to vgeorge

[2018-11-14 11:19] ricardoduplos opened #4 "Include meta details"
Unique meta details per page:

- [ ] Title
- [ ] Description
- [ ] Image
- [ ] Twitter card details
- [ ] OG details

[2018-11-16 11:43] ricardomestre opened #7 "Implement share options"

[2018-11-16 11:44] ricardoduplos opened #8 "Implement global menu active state"

[2018-11-16 11:45] ricardoduplos opened #9 "Include home illustration"

[2018-11-16 11:45] ricardoduplos opened #10 "Include explore panel tabs"

[2018-11-16 11:46] ricardomestre opened #11 "Structure and style scenario options"

[2018-11-16 11:47] ricardomestre opened #12 "Structure and style filter options"

[2018-11-16 11:47] ricardomestre opened #13 "Structure and style contextual layer options"

[2018-11-16 11:48] ricardomestre opened #14 "Structure and style country selection view"

[2018-11-16 11:49] ricardomestre opened #15 "Implement cards"
- [x] Global
- [x] Country specific
- [ ] Model specific

Related to #14 and #16

[2018-11-16 11:49] ricardomestre opened #16 "Structure and style model selection view"

[2018-11-16 11:52] ricardomestre opened #17 "Design and implement summary charts"
This requires some thinking before designing and implementing.

Related to #18

@olafveerman @vgeorge

[2018-11-16 11:53] ricardomestre opened #18 "Structure and style summary pane"

[2018-11-16 11:54] ricardomestre opened #19 "Include download options"
Related to #18

[2018-11-16 12:26] vgeorge opened #20 "Enable "loading" modal when updating map"
As data fetching and map update actions might take some time to finish, the interface should show a "loading" modal preventing user to redo the request before its finished.

[2018-11-19 12:16] #8 closed, assigned to ricardoduplos

[2018-11-19 12:16] #10 closed, assigned to ricardoduplos

[2018-11-19 17:10] vgeorge opened #22 "Test map in different browsers"
The application is being build and tested in Chrome. Its is necessary to also test in the following browsers:

- [ ] Edge
- [ ] Firefox
- [ ] Safari

[2018-11-19 20:39] vgeorge opened #24 "Show message if browser is not supported"
As some users might try to access using IE, it is necessary to inform them that the site might not function properly and a modern browser is needed.

[2018-11-22 07:24] ricardomestre opened #25 "Include popovers"
- Global
- Map

[2018-11-22 09:27] ricardoduplos opened #26 "Implement and style sliders"
https://github.com/davidchin/react-input-range

Related to #11

[2018-11-22 12:13] #7 closed

[2018-11-22 12:16] #11 closed

[2018-11-22 12:16] #12 closed

[2018-11-22 12:16] #13 closed

[2018-11-22 12:18] ricardomestre opened #28 "Include react scrollbars"
Apply on:

- [x] Explore controls
- [x] Explore summary
- [x] Documentation index nav

[2018-11-22 12:19] ricardomestre opened #29 "Style aggregated numbers"
Related to #18

[2018-11-22 12:20] ricardomestre opened #30 "Style legend"
Related to #18

[2018-11-23 10:34] #28 closed

[2018-11-23 10:35] #30 closed

[2018-11-23 11:28] ricardomestre opened #32 "Include library of country flags"
Candidate resource: https://github.com/lipis/flag-icon-css

Related to #14

[2018-11-26 10:25] #26 closed, assigned to vgeorge, ricardoduplos

[2018-11-26 11:49] vgeorge opened #34 "Update general stats on home page"
Currently, the page is showing placeholder data. Depends on:

https://github.com/developmentseed/gep-data-service/issues/7

[2018-11-26 13:44] ricardomestre opened #35 "Improve meta images"

[2018-11-26 15:55] #14 closed

[2018-11-27 11:41] vgeorge opened #37 "Reset buttons for levers and filters"
It would be good to offer the user a way to reset the levers and filters to the last state applied to the scenario.

[2018-11-27 12:05] #32 closed

[2018-11-29 16:19] ricardomestre opened #39 "Animate home illustration"
Animate SVG elements:

- [ ] Clouds (gentle movement)
- [ ] Building lights (on/ff)
- [ ] Turbine blades (rotation)

[2018-11-29 17:26] #9 closed, assigned to ricardoduplos

[2018-11-29 17:42] vgeorge opened #41 ""Select Country" page"
One of the following actions should shows the "Select Country" page:

- Click on "Start exploring" at the home page;
- Click on "Explore" at navigation bar;
- User access route `/explore` directly;

This page should display the available countries, fetching data from `/countries` endpoint.

[2018-11-29 17:48] vgeorge opened #42 ""Select model" page"
One of the following user actions shows a list of models available for a country:

- Selected a country at "Select Country" page #41
- Visited the route /explore/country/:id

The list of models available should be fetched from /country/:id endpoint. After the user selected a model it should be directed to /explore/model/:id route.

[2018-11-30 16:30] #41 closed

[2018-11-30 16:30] #42 closed

[2018-11-30 18:24] #4 closed, assigned to nobody

[2018-11-30 18:47] #39 closed

[2018-12-03 11:34] vgeorge opened #50 "Filters tab"
Filter options should be fetched from model configuration and shown at the explorer.

[2018-12-03 11:37] vgeorge opened #51 "Improve loading of country list"
While flags are being loaded the `alt` tag is exhibited.

[2018-12-03 11:39] vgeorge opened #52 "Enable map layers"
"Layers" tab should be populated with model configuration.

[2018-12-03 11:41] vgeorge opened #53 "Populate map legend"
Map legend colors and labels should be loaded from model configuration.

[2018-12-03 11:44] vgeorge opened #54 "Show error message when data service is not available"

[2018-12-03 14:10] ricardomestre opened #55 "Restyle global loading"

[2018-12-04 14:44] #15 closed

[2018-12-04 14:44] #51 closed

[2018-12-04 14:44] #16 closed

[2018-12-05 16:09] ricardomestre opened #60 "Include zoom map controls"

[2018-12-05 18:31] ricardomestre opened #61 "Style basemap"
Based on Mapbox Ice Cream style.

[2018-12-06 13:46] #29 closed

[2018-12-06 13:46] #35 closed

[2018-12-06 13:46] #55 closed

[2018-12-06 13:46] #60 closed

[2018-12-06 13:46] #61 closed

[2018-12-13 16:57] #50 closed

[2018-12-13 18:41] vgeorge opened #66 "Upgrade to Babel 7"
Currently we are using Babel 6, which doesn't has support for [JSX Fragments](https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html#babel). I'm using React.Fragment instead.

[2018-12-14 16:14] vgeorge opened #71 "Zoom map on country bounding box"
When the explorer is opened, the map show zoom in the country. Now it is hard-coded in Malawi.

Depends on: https://github.com/developmentseed/gep-data-service/issues/17

[2018-12-14 16:14] #53 closed

[2018-12-14 16:15] #20 closed

[2018-12-14 16:16] vgeorge commented on #18
This will be dealt in issue #17.

[2018-12-14 16:16] #18 closed

[2018-12-14 16:20] vgeorge opened #72 "Fix unit of capacity added on summary pane"
Should it be kW?

[2018-12-14 18:16] vgeorge opened #73 "Add lever popover"
If a lever config has a `description` property the interface should render an clickable element that opens a popover with simple text content.

[2018-12-17 20:24] vgeorge opened #78 "Add chart popover"
Should list the values for each electrification type.

[2018-12-18 11:15] vgeorge opened #79 "Display message when scenario has no data"

[2018-12-18 11:43] geohacker commented on #22
I used browserstack to test the map hosted on the surge url. I was looking for:

* Map interaction - zoom, pan, click on a feature
* Pop-up positioning - does the pop-up make itself visible
* Filters

Windows 10:

* ✅ Edge 18 - latest
* ❌ IE 11 gets a 'Your browser is out-of-date'
* ✅ Firefox 64

Mac High Sierra:

* ✅Safari 11.1

Mac Mojave
* ✅Safari 12
* ✅Firefox 64
* ✅Firefox 63

[2018-12-18 13:01] #73 closed

[2018-12-18 20:11] olafveerman opened #81 "Export functionality (PDF)"
The export functionality is the one remaining feature we still have to implement. Within this phase of work, we can implement one of two options. Neither of these are trivial to implement:

## Granular spatial data - GeoJSON
A Geojson file with all the geometries and associated attributes of the current scenario. This is useful for somebody with a technical background that wants to do further anal

[2018-12-18 20:19] olafveerman commented on #19
Being addressed in #81

[2018-12-18 20:19] #19 closed

[2018-12-18 20:23] olafveerman opened #82 "Highlight selected feature"
Depending on the shape of the feature, it can be hard to know where a cluster starts and stops. When clicking a feature, it would be useful to highlight it on the map.

cc @vgeorge @ricardomestre

![image](https://user-images.githubusercontent.com/751330/50180717-61e37980-02d8-11e9-84a6-7f73c7a732d2.png)

[2018-12-19 11:36] ricardomestre opened #83 "Include state messages on Summary panel"
- [ ] Loading
- [ ] No data to show

[2018-12-19 11:36] #25 closed

[2018-12-19 11:36] #17 closed

[2018-12-19 11:37] ricardomestre opened #84 "Improve summary charts"
- [ ] Popover: add legend colors
- [ ] Chart: hover state
- [ ] Chart: improve size and spacing

[2018-12-19 11:38] #78 closed

[2018-12-19 11:40] ricardomestre opened #85 "Restyle popovers and drops to include contextual tips"

[2018-12-19 11:41] ricardomestre opened #86 "Revamp favicon"
Make it more clear and sharp.

[2018-12-19 13:06] vgeorge opened #89 "Test all routes for unavailable data"
The interface should display a proper error message when a country or model is not available.

[2018-12-19 13:41] vgeorge commented on #22
Thats good to know, @geohacker, thank you. We still have to implement and deploy some changes on the interface, so I'll leave this issue until the last browser check.

[2018-12-19 14:32] olafveerman commented on #84
Can we also round the numbers on the popover to 1 decimal? On the overview it's fine to round to integer, but on the popover, it leads to strange results and loss of precision.

![image](https://user-images.githubusercontent.com/751330/50225709-41b2c980-036f-11e9-89cb-1845835f16b3.png)

Loss of precision can especially impact smaller AOIs: a difference between 1 million and 1.45 million people is

[2018-12-19 14:46] vgeorge commented on #72
@alekordESA Can you please clarify in which unit is the capacity of each cluster?

[2018-12-19 18:24] vgeorge opened #93 "Link to map layer's source"
@olafveerman suggested we include a link to the sources of map layers in the UI.

[2018-12-20 11:50] #83 closed

[2018-12-20 15:20] #85 closed

[2018-12-21 12:31] #54 closed

[2019-01-02 11:58] vgeorge commented on #82
The hover event is being fired without deboucing, which make its response to mouse move slow. I'll let this open until we fixed.

[2019-01-02 12:14] vgeorge opened #98 "Unique URL for scenarios and filters"
The user should be able to generate a URL pointing to a specific scenario and filter configuration. The UI is already implemented (lower left button on "Explore" view).

[2019-01-02 16:45] olafveerman commented on #81
Thanks for the feedback @carderne, we'll implement the export-to-PDF option.

[2019-01-02 17:43] vgeorge opened #100 "Switch between intermediate and final years on explorer view"
As discussed [here](https://github.com/developmentseed/gep-coordination/issues/15#issuecomment-449099339), the explorer view should allow switching between the intermediate and final scenario years.

The main visible change will be at "Apply Changes" button, which will be replaced by another actionable element that allows the user to determine which year will be shown at the map and summary.

@ric

[2019-01-03 14:29] vgeorge opened #102 "Tech layers color scheme"
To offer the possibility of layer color customization maintaining consistency between models, let's implement a color palette for the map where ids are names of technologies.

The colors and labels will be passed via model config, so the Explorer is agnostic regarding this configuration.

[2019-01-04 15:25] olafveerman opened #103 "Include donut chart in PDF"
The current PDF implementation doesn't include the donut chart. This is not trivial, as PDFKit doesn't support SVG. It does have support for individual SVG paths. I made an initial attempt at redrawing the SVG in the document based on the paths, but especially the positioning gets tricky.

Given the time spent on the PDF already, I will mark this as an enhancement for a future phase.

Going forwar

[2019-01-07 11:05] #82 closed

[2019-01-07 16:57] #100 closed

[2019-01-07 17:39] olafveerman commented on #81
Export functionality was implemented and included in the next release. https://github.com/developmentseed/gep-explorer/pull/101

[2019-01-07 17:39] #81 closed

[2019-01-08 12:52] #98 closed

[2019-01-08 15:55] #102 closed

[2019-01-08 17:11] #89 closed

[2019-01-09 15:25] olafveerman opened #111 "Fonts not loaded"
Fonts needed for the PDF generation are not loaded on production:

[code]

[2019-01-09 17:05] #111 closed

[2019-01-09 19:05] olafveerman opened #114 "Format capacity added"
![image](https://user-images.githubusercontent.com/751330/50921858-01e37d00-1417-11e9-9777-99a56aeef186.png)

Added capacity requires special formatting. This should be 135 MW instead of 135 kkW.

[2019-01-09 19:15] olafveerman opened #115 "Unexpected results with option filter"
When applying a filter of type `option`, the Explorer shows no data.

To replicate:

1. Go to Malawi scenario
2. Deselect 'Mini-grid - Hydro' on the 'Electrification Technology (2030)

Expected behavior: no change in the result data, as mini grids are not part of the results.

What actually happened: `No data is available for this scenario. Please choose a different set of levers.`

cc @vgeorge @d

[2019-01-09 20:09] #114 closed

[2019-01-10 08:47] Dimitrismentis opened #118 "Filters: Selected year 2023, but I see electrification technology 2030 in the filter pane"

[2019-01-10 08:51] Dimitrismentis opened #119 "Toggle layers mismatch"
While a layer is first selected and shown in the map, it is shown as unselected in the toggle layers menu

[2019-01-10 08:54] Dimitrismentis opened #120 "Location names should be on top of the outputs."

[2019-01-10 08:56] Dimitrismentis opened #121 "Right hand side Summary vs. Details"
Both are summaries. We need to be clear that the one on the right hand side summarizes outputs for the entire country and not the selected cluster.

[2019-01-10 09:00] Dimitrismentis opened #122 "“Apply changes” and “year” in the same level?"
Is it semantically correct to put “apply changes” and “year” in the same level? I would suggest having year one level up.

[2019-01-10 11:51] danielfdsilva commented on #115
@olafveerman @vgeorge This happens because the the data has FinalElecCode as a float (like 3.0), and the rest of the system is using ints. Looking into what the best fix is

[2019-01-10 13:30] olafveerman commented on #72
Addressed in last release. We can reopen if necessary.

[2019-01-10 13:30] #72 closed

[2019-01-11 09:54] Dimitrismentis commented on #118
yes, this may be clear to us, but it will be confusing to users. Can't the filter change to 2023 when the year changes to 2023 and the user applies changes?

[2019-01-11 15:54] bpstewar opened #124 "Malawi map not loading"
http://gep-explorer.surge.sh/explore/mw-1

The web page is simply hanging for me - I tried it in both chrome and firefox from within the WBG network. Looking at the network traffic, the following link returns a message: "Tile Not Found"

https://api.mapbox.com/v4/devseed.2a5bvzlz/6/37/35.vector.pbf?access_token=pk.eyJ1IjoiZGV2c2VlZCIsImEiOiJjam9vamtjc2ExaHl2M3FxYW0yeTNjeHprIn0.EGNe0UbYK1gEQSB9Bs9Y

[2019-01-11 16:03] vgeorge commented on #124
Hello @bpstewar, we are performing a ingest at the moment. I'll let you know we it's finished.

[2019-01-11 16:19] vgeorge commented on #120
The solution to this issue is to add a layer of location names from Mapbox Streets.

[2019-01-11 17:09] #119 closed

[2019-01-11 17:33] vgeorge commented on #124
@bpstewar Can you please access the Explorer again? The ingest process was finished.

[2019-01-14 11:04] vgeorge commented on #22
The Explorer is working on all modern browsers (Chrome, Firefox, Edge, Safari)  and showing a warning message when opened in a non-supported browser, which directs the user to http://outdatedbrowser.com.

[2019-01-14 11:04] #22 closed

[2019-01-14 11:12] vgeorge commented on #124
Closing this issue, the website is back online.

[2019-01-14 11:12] #124 closed

[2019-01-14 17:20] vgeorge opened #126 "Parametrize vector tiles source and layer used by model"
This configuration will be avaible at model configuration ant the map should load vector tiles accordingly.

[2019-01-16 17:14] #120 closed

[2019-01-16 17:17] #126 closed

[2019-04-08 13:31] danielfdsilva opened #128 "Review behavior of range sliders"
Range sliders are difficult to control (ex: population, area). A possible solution would be to use steps to more concrete numbers or allow direct edition.

[2019-04-08 13:31] danielfdsilva opened #129 "Reset scenarios and filters"
Add option to reset scenario and filters to default

[2019-04-08 13:31] danielfdsilva opened #130 "Rename app to Global Electrification Platform"
Remove the "Explorer" portion of the name

[2019-04-08 13:32] danielfdsilva opened #131 "Better pdf naming on download"
Rename the pdf file to something more human friendly.
What would be a good pattern?

[2019-04-08 14:03] danielfdsilva opened #132 "Create help page"
WB feedback

[2019-04-08 14:04] danielfdsilva opened #133 "Download model data"
WB feedback

[2019-04-08 14:06] danielfdsilva opened #134 "Improvements on charts"
WB feedback

**Bar Chart visualization**
- For second time step- clearly communicate cumulative vs additional
- People as percentage of total population
- Added Capacity as percentage of base
- In first time-step, add un-fulfilled people (see #156)
  - Grey locations on map?
  - Grey numbers in the charts?

[2019-04-08 14:11] danielfdsilva opened #135 "Improve pdf export"
Wb feedback

**More PDF export options**
- Add a section About the Data - provides a country specific description of the data used in the modelling
- More information on assumptions
- More details on input data
- Comparison maps
  - Two time steps
  - Two scenarios

[2019-04-08 14:12] danielfdsilva opened #136 "Scenario comparison"

[2019-04-08 14:16] danielfdsilva opened #137 "Review platform copy"
WB feedback

Model export pdf still includes Lorem Ipsum placeholder text

These features are implemented, it is just a matter of adding the final copy

[2019-04-09 12:28] olafveerman commented on #132
We can include this in the documentation section of the site: http://gep-explorer.surge.sh/documentation

What type of explanation are you looking for?

[2019-04-09 12:33] olafveerman commented on #136
Scenario comparison would be a great feature. It not something included in the scope of the first version of the tool, and requires a significant level of effort to implement. Marking this for a future phase.

[2019-04-09 12:37] olafveerman commented on #137
As @danielfdsilva mentions, from a technical perspective, the popups are implemented. In the model configuration, a `description` can be specified for each lever: http://devseed.com/gep-docs/preparing-the-data/levers/.

We'll be working with @alekordESA to make sure it's clear how to add and edit those descriptions.

[2019-04-09 12:39] olafveerman opened #138 "How to configure layers"
WB question:

[2019-04-09 12:40] olafveerman commented on #138
Map layer can be configured through the model config file (ex: https://github.com/developmentseed/gep-data-service/blob/master/fixtures/models/mw-1.yml#L111-L149). All the documentation for the model can be found at http://devseed.com/gep-docs/preparing-the-data/model-configuration/

[2019-04-09 12:41] olafveerman opened #139 "Mobile/low-bandwidth experience"
issue raised by WB.

[2019-04-09 12:49] olafveerman commented on #139
The full site is responsive and works on mobile devices with the exception of the data exploration view. The interactions in this section are complex to perform on small screens and would lead to a frustrating user experience. Instead, the site shows a message that the explorer works on tablet and up.

As for the bandwidth, we tried to optimize the data as much as possible, but this is a data heav

[2019-04-09 13:00] olafveerman opened #140 "Compare maps in PDF"
Feature request by WB:

Originally raised in #135.

This was not originally scoped, and would require a high level of effort to implement. Marking this as a future enhancement.

[2019-04-22 16:52] bpstewar commented on #133
We are looking specifically for tools to download the geospatial data presented on the platform: we can access a pdf describing the map, but right now there is no way to download GIS data or the results

[2019-04-22 16:56] bpstewar commented on #131
Right now the name includes 1s and 0s (and 2s) representing the scenario being displayed, could those be replaced with the names of the currently displayed levers?

gep-mw-1-0_0_0_0_0_0.pdf

gep-mw-1-baseline_baseline_baseline_baseline_High_Intensification.pdf

[2019-04-23 08:38] Dimitrismentis opened #144 "People affected"
To me the term "affected" is not clear. Are we referring to total or new connections? People connected or just People sound better.

[2019-04-23 19:56] #129 closed

[2019-04-23 19:56] #130 closed

[2019-04-26 17:13] vgeorge opened #147 "Country flags not displaying in production"
See: http://gep-explorer.surge.sh/countries

[2019-05-05 18:30] crogate commented on #140
We were also hoping to add the data inputs to the PDF so that it becomes sort of a brochure of the country. Would that be possible?

[2019-05-06 15:40] clairenicolas opened #148 "Home page icons"
The home page icons are not self explanatory (the country and documentation ones). Wold it be possible to have the name of the section appear when the cursor is on it?

[2019-05-06 15:41] clairenicolas opened #149 "Visualization issues in Edge"
When opening the GEP explorer in Edge there are some visualization issues

[2019-05-08 17:11] bpstewar commented on #144
This is a problem on both the summary charts on the right-side and when querying individual settlements - without know total populations, we cannot infer  much about these areas. Both need total population information included

[2019-05-09 15:54] vgeorge opened #150 "Loading time for large models"
Scenarios for Mozambique are taking about 40s to load. That is the time the data service takes to query the database, prepare the data and return it to the client. At the implementation stage there was only the Malawi model, four times smaller, which did not allowed us to anticipate this situation. We reviewed the query process and there are no immediate opportunities to reduce response on the fir

[2019-05-09 18:45] olafveerman opened #151 "Pull VT from energydata.info"
@vgeorge If the vector tiles for the settlements would be stored on energydata.info, could we pull those into the explorer?

[2019-05-09 18:57] olafveerman commented on #150
Discussed this today with @bpstewar and Chiara, who agreed with this assessment and proposed solution.

[2019-05-13 11:00] vgeorge commented on #148
Hi @clairenicolas, I believe you are refering to the icons on the navigation bar on the side. They already have a text box that appears when the icon is hovered, but it is showing placeholder text. We will update it.

[2019-05-13 16:52] vgeorge opened #152 "Content for "Documentation" page"
I suggest creating a document on Google Docs or Dropbox Paper to work on the content and, once finished, move it to the page.

Devseed will provide a section explaining how to find and download source data after we define the folder structure at S3.

Link: http://gep-explorer.surge.sh/documentation

The structure of sections can be changed.

cc @alekordESA @bpstewar

[2019-05-13 16:55] vgeorge opened #153 "Content for "About" page"
Text and logos are needed.

Link: http://gep-explorer.surge.sh/about

cc @alekordESA @bpstewar

[2019-05-14 11:36] vgeorge commented on #115
Already solved by updating source data.

[2019-05-14 11:36] #115 closed

[2019-05-16 10:49] alekordESA commented on #134
**For second time step- clearly communicate cumulative vs additional**
(This also informs #144 )

There is a mix of additional and cumulative in the second time step indeed. ```People affected``` is clearly cumulative as it sums to the total population of the country in 2030. In contrary ```Investment required``` and ```Added Capacity``` are additional to the time step 2025-2030.

**Option 1**
In

[2019-05-16 10:58] alekordESA commented on #134
**People as percentage of total population**
Summaries of ```People connected``` or  ```New connections``` can be calculated as per previous comment; Then population percentages can be calculated using total population from ```Pop2025``` and ```Pop2030``` respectively, no?

@bpstewar Do we want percentage for the aggregate population only or for all technologies as well?

[2019-05-16 11:27] alekordESA commented on #134
**Added Capacity as percentage of base**
This percentage cannot be calculated based on data currently available in the result files. A solution  I see is that we import current installed capacity as a number - and calculate the percentage increase based on this value. Result might look like this:

2025
```Capacity increase (%) = NewCapacity2025 x ElecStatusIn2025 / InstalledCapacity2018```

2030
`

[2019-05-16 14:03] Dimitrismentis commented on #134
@alekordESA I think option 2 is more sensible to show, i.e the amount of people that are getting connected using the various technologies.

One comment we 've received often in the previous apps regards the New connections. Users think we refer to number of connections (households) and not number of people. Can we rename to avoid this reasonable confusion? Maybe "People connected since 2018" or "P

[2019-05-17 13:23] vgeorge commented on #144
This issue now seems to be a duplicate of https://github.com/developmentseed/gep-explorer/issues/134, closing.

[2019-05-20 13:17] vgeorge opened #156 "Map style for unfulfilled people"
WB feedback

[code]

Currently the Explorer does not display non-electrified clusters in the first time-step, a behavior defined earlier in the project. Unfortunately, the requested change is not trivial and should remain for a future cycle of development.

[2019-05-20 13:19] vgeorge commented on #134
The percentage value can be calculated at the interface if absolute values for each timestep are available in scenarios files. It would be necessary to include `InstalledCapacityBaseYear` and` PopulationBaseYear`. I suggest using generic name for the base year, as in the future it might not be 2018.

@alekordESA This issue is kind of a blocker now, as we will need to perform changes at the ingest

[2019-05-28 13:33] vgeorge commented on #118
@Dimitrismentis I believe that is the current behavior of the platform, the filter by electrification technology applies to the selected timestep.

[2019-05-28 13:33] #118 closed

[2019-05-28 13:45] vgeorge commented on #139
I believe the above clarifies the issue. Please reopen if there is any further questions.

[2019-05-28 13:45] #139 closed

[2019-05-28 14:02] vgeorge commented on #149
@clairenicolas can you please provide details about the issues or share screenshots?

[2019-05-28 14:36] vgeorge commented on #133
We propose to perform the following changes to address this issue:

- Rename "Export" button to "Download";
- Add a toggle to this button, with the following options:
  - **Current view as PDF**: the existing PDF report
  - **Full Scenario Data**: the csv file for the current scenario, available in S3 (eg. mw-1-0_0_0_0_0_0.csv.zip)
  - **Country Clusters**: the shapefile for cluster geometries of

[2019-05-28 15:35] vgeorge commented on #135
I believe the above clarify the questions. Please reopen if there are additional comments.

[2019-05-28 15:35] #135 closed

[2019-05-28 20:35] bpstewar commented on #128
This is not an enhancement - it needs to be fixed or the sliders need to be removed

[2019-05-29 14:17] bpstewar commented on #133
I would prefer the second two options direct to a page on EnergyData.info, rather than provide direct access to the data - the files are too big for most users to access, so we need to provide a bunch of contextual information

[2019-05-29 16:43] clairenicolas commented on #149
![image](https://user-images.githubusercontent.com/14335408/58575023-55603700-820f-11e9-82cf-68f33d05a104.png)

[2019-05-29 16:46] clairenicolas commented on #149
- GEP in the upper left corner
 - the images next to the country names

[2019-05-29 18:23] vgeorge opened #157 "Map keys for cluster geometries"
Each item of the following the table refers to a vector tileset of cluster geometries to be used on GEP Explorer. The layer id is composed by a two-letter ISO country code, followed by the layer version. This information can be included in model configuration files, as described in the [technical docs](https://global-electrification-platform.github.io/docs).

Layer ID | Tileset URL
:---: | ---
ao-

[2019-05-30 09:31] alekordESA commented on #153
Please find a first go in the link below:

https://docs.google.com/document/d/1bd-OoaQsEJ1QZZ1YW-um74So_wiXVyyPjcLHx0RVapk/edit?usp=sharing

@bpstewar @carderne please review.

[2019-05-30 10:11] carderne commented on #153
Have made extensive suggestions.

[2019-05-30 10:31] alekordESA commented on #152
@vgeorge can the documentation page be informed directly by rst (or md) files? If yes, can we use files already available [here](https://github.com/global-electrification-platform/User_Guide/tree/master/user-manual/source)? It requires further editing and re-structure, of course..

[2019-05-31 12:42] ricardomestre commented on #134
Here's a proposal containing two solutions for showing the total population on the charts:

1. With absolute values: https://sketch.cloud/s/v1K7J/a/zGQeko
2. With relative values: https://sketch.cloud/s/v1K7J/a/ZygQpx

[2019-05-31 14:30] Dimitrismentis commented on #134
@alekordESA @bpstewar @vgeorge @ricardomestre
Showing two values (42 out of 84 in this case) in a chart with two colours may be confusing for the users. They may think 42 refers to one colour (grid) and 84 to the other (stand alone PV) or both. Not very intuitive.
I would keep one number and modify the title of the graph to make it more clear as suggested earlier on.

[2019-05-31 14:49] bpstewar opened #158 "National clusters do not follow national boundaries"
I was perusing Malawi and I found a number of clusters that look like they fall outside the national boundary - this could be a problem. What are you using for the displayed national boundaries vs. the bounadries you used to create the clusters

![image](https://user-images.githubusercontent.com/5446296/58714011-cf202e00-8391-11e9-9b1e-5040362938da.png)

[2019-05-31 15:24] bpstewar commented on #134
@Dimitrismentis we need to include the total population somewhere in that chart area, but I agree having the two numbers is a bit confusing - maybe the relative measure would be better

[2019-05-31 15:45] Dimitrismentis commented on #134
@bpstewar Indeed. It is important to show the total population plus some other relevant indicators one could pull from WB online database. e.g. elec. rates.

Partly related to this issue:
Here is what was done previously with a simple country overview http://electrification.energydata.info/model/?iso3=TZA&mode=technology (this was an addition based on feedback we received multiple times from users

[2019-05-31 16:13] alekordESA commented on #134
@bpstewar shall we proceed with the [second option](https://sketch.cloud/s/v1K7J/a/ZygQpx) then for now?

@Dimitrismentis @bpstewar additional relevant indicators can be included in the 1-pager descriptor we generate per country. These are available per model on S3 (example available [here.](https://drive.google.com/drive/folders/18BCb9CqVtpueUjAMXaL07LbcXMBoIt_g?usp=sharing))

[2019-06-04 10:33] #147 closed

[2019-06-04 10:57] #86 closed

[2019-06-04 11:24] vgeorge commented on #133
@alekordESA @bpstewar The download button was implemented as discussed last meeting. The live website now shows a "dropup" listing the three download options (pdf/geo/raw) with the the last two disabled for future implementation. Please review and lets us know if it is ok.

[2019-06-04 11:28] vgeorge commented on #148
@clairenicolas We have added more meaningful labels to the navigation buttons. Can you please review?

[2019-06-04 11:30] vgeorge commented on #149
Country flags should now appear. We are still working on the GEP logo in the upper left corner.

[2019-06-04 11:48] vgeorge commented on #152
@alekordESA Now the live website can fetch Markdown files from anywhere. Unfortunately we couldn't provide support for .rst, but Read the Docs has support for .md. As discussed, the implementation we could provide for now still have some hard-coded parts and we need you to provide the general documentation structure as:

- Section titles
- Properties of pages to be included:
  - Name
  - URL on Ex

[2019-06-04 11:52] vgeorge commented on #150
Implemented and deployed, please reopen in case of problems.

[2019-06-04 11:52] #150 closed

[2019-06-04 12:01] vgeorge commented on #134
As discussed with @alekordESA, we will use the field `PopStartYear` as base population value to calculate the total population displayed on the chart.

@danielfdsilva The PR https://github.com/global-electrification-platform/data-service/pull/60 is arealdy including this information in the cluster summary.

[2019-06-04 18:23] ricardomestre opened #164 "Enable country swap button"
![Screen Shot 2019-06-04 at 19 22 17](https://user-images.githubusercontent.com/1016701/58903780-1e51c000-86fe-11e9-9e4e-4c863e7d8e6f.png)

[2019-06-05 12:03] vgeorge commented on #144
As the issue #134 is not only regarding this label change, I'll keep this open for follow up independently.

[2019-06-05 12:11] vgeorge commented on #134
Had a talk today with @alekordESA to clarify the approach here. Key points:

- Total population on the chart should be calculated from time stepped `Pop<year>` (eg. Pop2025, Pop2030) values, which are already available in the summary. `PopStartedYear` will be dropped;
- "People Connected" at the chart should be an aggregate of `PeopleConnect<year>` property, available in the summary. This property

[2019-06-05 13:25] alekordESA commented on #134
@vgeorge ```Pop<year>``` will give the population in the according year. However, if you are using the formula as above you will only include the newly electrified population in the summary; that is, you ll miss the people that are already electrified. We want to include these in the final summary no? This can be provided by equation ```PEOPLE CONNECTED = Pop2025 x ElecStatusIn2025``` as per my co

[2019-06-05 13:43] vgeorge commented on #134
I see. At the end we are going for option 1, which is cumulative.  I'll proceed implementing using `Pop`, instead of `NewConnections`:

[code]

[2019-06-05 17:22] #164 closed

[2019-06-06 15:06] alekordESA commented on #152
@vgeorge GEP User Guide pages are updated now; rst file have been converted to md as you ll see [here](https://github.com/global-electrification-platform/User_Guide/tree/master/user-manual/source). Documentation shall include the following sections in order, each a separate md file:

* Overview
* GEP Explorer
* GEP Generator
* GEP Toolbox
* Interoperability
* Contact

[2019-06-06 18:40] danielfdsilva commented on #152
@alekordESA we noticed that some of the pages contain html tags.
We can enable html parsing but it is not recommended since it can introduce security problems.
Do you think, you can remove it?

Also, image urls must be absolute otherwise the explorer won't be able to find them.

[2019-06-07 08:43] alekordESA commented on #153
@vgeorge I have updated the last sentence in the document (... please refer to ...); please include. Also, the 3 url links I have included in the text, are missing. I assume this is related to #152 and html parsing?

[2019-06-07 09:06] alekordESA commented on #152
@danielfdsilva what are the potential security problems from html tags and how can they affect the function of the Explorer? While I can remove some of them, other are necessary for better understanding of the content. (#153 also related to this right?)

Also, by absolute image url I understand that we need to provide something like ```https://github.com/global-electrification-platform/User_Guide/

[2019-06-07 09:22] akorkovelos opened #170 "Health site facilities do not overlay for 7 countries"

[2019-06-07 09:29] akorkovelos opened #171 "Overlay MV network actually used than T&D from energydata.info"
At the moment the grid infrastructure that a user can overlay derives from [energydata.info](https://energydata.info/). This is not what was used in the electrification analysis; the latter used MV lines generated by [gridfinder](https://github.com/carderne/gridfinder). Those shall be prepared accordingly (@vgeorge could you please refer to documentation) and replace energydata.info data on the ex

[2019-06-07 09:45] babakkhavari commented on #158
The administrative boundaries used for the clustering process are from GADM. They are slightly larger than the ones provided by OSM which seems to have been used on the platform.

[2019-06-07 09:58] babakkhavari opened #172 "Niger model (ne-1) config error"
There seems to be an error in the interface for the Niger model. The subtitle says "Malawi OnSSET v1.0"

![Niger](https://user-images.githubusercontent.com/35455877/59096220-9d234480-891a-11e9-8d67-bede39e9d544.PNG)

[2019-06-07 10:00] AndreasSahlberg opened #173 "Error when filter min/max are equal to zero"
Only one result seem to be loading fro Somalia

[2019-06-07 10:36] vgeorge commented on #173
This is happening because property `CurrentMVLineDist` of Somalia is always equal to zero, probably an error in scenario output.

The Explorer shouldn't be breaking, though. I'll add a fix.

[2019-06-07 10:51] vgeorge commented on #172
This is a model configuration file issue. I'll reingest after @alekordESA updates it.

[2019-06-07 11:03] vgeorge commented on #170
This is not a bug. Unfortunatelly the Explorer will not be able to fetch vector tiles from https://data.humdata.org because it doesn't have [CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing) enabled, which blocks third-party access to their vector tile service.

A work arround would be to parse the source GeoJSON file into MBTiles and serve it from GEP's Mapbox account.

[2019-06-07 11:29] alekordESA commented on #170
@vgeorge apologies for miss-labeling. Is this how it works for Malawi using ```https://data.humdata.org/gis/services/postgis/pre_c2970f98_f65f_4a11_b717_c8018dffc94f/wkb_geometry/vector-tiles/{z}/{x}/{y}.pbf``` ? If yes, all I meant with this issue is to note down that source needs to be updated for the rest of the countries.

[2019-06-07 11:36] vgeorge commented on #152
@alekordESA The About page is pure HTML, not parsed Markedown from a remote. If HTML is enabled the Explorer will be subject to script injection or might break if the source HTML is not formatted properly.

What if we change the "Documentation" navigation button to link directly to https://gep-user-guide.readthedocs.io? Would that work?

[2019-06-07 12:55] vgeorge commented on #173
Fixed, please review: http://gep-explorer.surge.sh/explore/so-1

[2019-06-07 12:56] vgeorge commented on #153
Updated, please review: http://gep-explorer.surge.sh/about

[2019-06-07 13:39] AndreasSahlberg commented on #173
Results are loading as expected now, thanks!

[2019-06-07 13:39] #173 closed

[2019-06-07 13:44] #172 closed

[2019-06-07 16:32] danielfdsilva commented on #152
@alekordESA Allowing html could lead to the injection of malicious content. Although I don't think this will happen since the source repo is owned by you, someone may unwillingly forget to close a html tag, which could break the site.
It is however very easy to enable html parsing if you want.

That being said, @vgeorge suggestion of linking to the docs repo would allow you to have a centralized p

[2019-06-08 20:11] bpstewar commented on #171
@carderne Are you comfortable uploading the gridfinder results to EnergyData.info? I thought we discussed this and decided the data were not going to be uploaded.

[2019-06-08 20:16] bpstewar commented on #158
So what can we do about it? The final product cannot have clusters crossing borders for national level analysis? Can you change the basemap to something that follows GADM boundaries? Could you try using the WBG basemap instead?

https://api.mapbox.com/styles/v1/gsdpm/cioenuwii001maznontujohu8.html?title=true&access_token=pk.eyJ1IjoiZ3NkcG0iLCJhIjoiY2lqbmN5eG9mMDBndHVmbTU5Mmg1djF6MiJ9.QqFCD7tcmccys

[2019-06-10 07:23] carderne commented on #171
Yes that will have to wait a few months until we publish the data I think.

[2019-06-10 21:59] alekordESA commented on #152
@danielfdsilva @vgeorge thank you for clarifying. Let us go then with @vgeorge suggestion, with the "Documentation" navigation button pointing directly to https://gep-user-guide.readthedocs.io. That ll work for now I guess.

[2019-06-12 12:24] bpstewar opened #176 "Charting Error for Eswatinit"
http://gep-explorer.surge.sh/explore/sz-1?year=2030&scenario=0_0_1_0_0_0&filters=r4_85335%7Cr0_19%7C1_3_5_6_7%7Cr0_16%7Cr0_12%7Cr37_34734

I was exploring Eswatini, and this particular combination of levers appears to have broken the top chart

[2019-06-12 12:53] bpstewar opened #177 "Mapping issue with Burkina Faso"
http://gep-explorer.surge.sh/explore/bf-1?year=2025&scenario=0_0_0_0_0_0&filters=r4_5019652%7Cr0_353%7C1_3_5_6_7%7Cr0_133%7Cr0_63%7Cr13_24089

I hope this is a bug - this particular combination of levers appears to drop the southern half of the country in the map.

Is this a bug in the model or the data or the application?

[2019-06-12 13:28] bpstewar commented on #177
Discussed with Alex, not a bug

[2019-06-12 13:28] #177 closed

[2019-06-14 14:29] vgeorge commented on #170
No problem, @alekordESA. I believe the best approach here is to upload the dataset to the Mapbox account and update the model configuration to fetch the layer from there.

[2019-06-14 14:32] vgeorge commented on #149
Styles were updated, please review @clairenicolas.

[2019-06-17 20:02] olafveerman commented on #176
This is likely an issue with the underlying data. That being said, the chart in the Explorer should catch this error and handle it more gracefully.

[2019-06-18 11:27] vgeorge commented on #176
The problem is that Redis has cached a deprecated API response. If you change the filters the chart is rendered properly. The resolution depends on https://github.com/global-electrification-platform/data-service/issues/61, because there is no easy way to flush Redis cache now.

[2019-06-19 12:24] bpstewar opened #180 "Migrate to new url?"
What is the process to migrate the platform to a new url? I see that the GEP link (http://www.globalelectrificationplatform.com/) directs to an old powerpoint from Yann Tavez. Can we have that point to the existing url, or migrate the application to that link?

[2019-06-19 12:27] bpstewar commented on #176
Ok, makes sense, Victor, we can close this issue, with the understanding that flushing the Redis cache will be important

[2019-06-19 12:37] vgeorge commented on #180
@bpstewar The domain holder must to add CNAME records pointing to `gep-explorer.surge.sh` as described in section "Setting a CNAME" of this reference:

https://surge.sh/help/adding-a-custom-domain

Once it's done, we will update the explorer to use that domain.

[2019-06-19 14:38] vgeorge commented on #176
@bpstewar, I'll keep this open until we properly address the error.

[2019-06-26 15:19] nicolinalindblad commented on #158
Pinging the importance of using the borders of the base layer mentioned by Ben above.

[2019-06-27 19:50] bpstewar opened #182 "Lever name error for Burundi"
The lever name for Electricity demant target is a bit turned around

http://gep-explorer.surge.sh/explore/bi-1

![image](https://user-images.githubusercontent.com/5446296/60296031-295dd180-98f3-11e9-89a8-b42a51e2936a.png)

[2019-07-01 13:44] babakkhavari commented on #158
Agree, I guess the first step would be to change the basemap used on the platform as this does not seem to correspond to the map sent by Ben neither, perhaps a change in basemap will solve the issue of clusters overlapping the borders. @vgeorge is it possible to change the basemap to the map that is linked by Ben?

[2019-07-01 13:45] babakkhavari commented on #158
If a change in basemap does not fix the issue we will fix it our side

[2019-07-01 15:46] vgeorge commented on #176
Cached was renewed and the chart is showing properly now.

[2019-07-02 16:22] vgeorge commented on #158
The borders from the base map come from [CIA World DataBank II](https://www.evl.uic.edu/pape/data/WDB). I've looked into [GADM](https://gadm.org/download_country_v3.html) and [Natural Earth](https://www.naturalearthdata.com/downloads/10m-cultural-vectors/10m-admin-0-countries), both seem less accurate than CIA's to me.

## Natural Earth
![Screenshot 2019-07-02 17 13 14](https://user-images.githubu

[2019-07-02 16:40] vgeorge commented on #182
This was a error at the model configuration file for Burundi. I've corrected it on S3 and updated production data.

[2019-07-03 07:38] #182 closed

[2019-07-03 08:01] akorkovelos opened #183 "Migrate GEP service to energydata.info"
As per communication with Chiara and @bpstewar, it is time to migrate the GEP service to energydata.info. @olafveerman, @vgeorge can you please provide requirements from your side for doing so? @bpstewar can you please help make the right arrangements between DevSeed, energydata.info team and [derilinx](https://derilinx.com/)?

[2019-07-03 09:17] babakkhavari commented on #158
@vgeorge and @bpstewar I have recieved the admin boundaries from the WB team. I will proceed to process the clusters with these borders so that they fit with the requirements from the WB-team.

[2019-07-05 14:39] carderne opened #184 "Add Global Solar Atlas as contextual layer"
@alekordESA
Is this in the pipeline? What do you need from our side to make this happen?

[2019-07-10 12:21] vgeorge commented on #183
@alekordESA, I had a convertation with Derilinx yesterday to explain the platform architecture. Now they are getting familiar with the codebase so we can put together a migration plan. I'll get back to you once we have a better picture on how would this work.

[2019-07-18 13:53] ricardoduplos opened #187 "Remove placeholder logos from About page"

[2019-07-26 11:56] alekordESA commented on #183
Thanks @vgeorge. Is there any update on this so far?

[2019-07-26 12:00] alekordESA commented on #158
@vgeorge, our analysis was modified so the clusters are in alignment with the WBG basemap @bpstewar mentioned in a previous comment. Can we change the basemaps on the explorer accordingly?

[2019-07-30 18:02] olafveerman commented on #183
@akorkovelos Derilinx is finalizing the migration plan and coordinating directly energydata.info.

[2019-08-02 16:04] bpstewar commented on #180
I think this is now going to be handled by Derilinx as part of the migration to energydata.info, so no need to worry for now

[2019-08-06 16:49] vgeorge commented on #158
@akorkovelos, as we discussed today, clusters ids should match `featureId` field in scenario files. If they don't, scenarios files should be updated an reingested. I would suggest waiting for the migration conclusion so we don't have to ingest the update files two times.

[2019-08-06 17:07] vgeorge commented on #152
Implemented.

[2019-08-06 17:07] #152 closed

[2019-08-06 19:45] akorkovelos commented on #134
@vgeorge quick on the summary charts. Tag shall change from ```Grid extension``` to just ```Grid``` on the right side bar of the explorer.

[2019-08-09 10:42] #176 closed

[2019-08-09 11:05] vgeorge commented on #128
Resolved, now it is possible to enter values manually. Please reopen if there is any issue.

[2019-08-09 11:05] #128 closed

[2019-08-09 11:09] vgeorge commented on #137
I believe the reffered issues were solved when preparing for Trieste workshop. Please reopen if there is still fixes to be done.

[2019-08-09 11:09] #137 closed

[2019-08-09 11:16] vgeorge opened #188 "Add baseline to summary and tooltips"
As described by @bpstewar at https://github.com/global-electrification-platform/explorer/issues/144, it is necessary to include baseline information (population) to provide the full context for scenario analysis.

[2019-08-09 11:18] vgeorge commented on #144
The label was changed to the suggested terminology, I'll close this.

@bpstewar, I've created another issue to address baseline information (https://github.com/global-electrification-platform/explorer/issues/188).

[2019-08-09 11:18] #144 closed

[2019-08-09 11:21] vgeorge commented on #148
I believe this issue was addressed, please reopen if there is the need of any further changes.

[2019-08-09 11:21] #148 closed

[2019-08-09 11:23] vgeorge commented on #153
@akorkovelos do we need to insert any additional logos?

[2019-08-09 11:25] vgeorge commented on #149
I believe this was addressed, please reopen if errors persist.

[2019-08-09 11:25] #149 closed

[2019-08-09 11:25] vgeorge commented on #138
I believe this was addressed, closing.

[2019-08-09 11:25] #138 closed

[2019-08-09 11:31] vgeorge commented on #133
For the official launch, the buttons should link to the model page at https://energydata.info. Changes needed:

- [ ] Include and document link to cluster and model data in model config
- [ ] Populate the buttons with these links

[2019-08-09 11:48] vgeorge commented on #151
In this [this map](https://energydata.info/dataset/tunisia-electricity-transmission-network-2017/resource/106984f1-8f7a-4041-9617-d461de4d3d75) energydata.info fetches Vector Tiles from Amazon S3. It seems that CORS is enabled, so it is posible to use vector tiles from there.

[2019-08-16 15:59] vgeorge commented on #188
More specifics on this issue by @bpstewar:

To address the above, I believe we would need to replace the first pie chart ("People connected") with something like this:

![image](https://user-images.githubusercontent.com/329694/63180806-edb7cc00-c046-11e9-9bfa-fd353b01f56c.png)

@bpstewar what do you think about this approach?

Regarding the input data, some questions for @akorkovelos:

- Is cluste

[2019-08-16 16:10] vgeorge opened #189 "Add RISE Score"
As discussed with Chiara and @bpstewar, we need to need to include the overall RISE score for a country. I believe we could add it below the country name, link it to the RISE's website and add popover with short description of the score.

RISE score: https://rise.worldbank.org/scores

[2019-08-16 20:32] akorkovelos commented on #188
@vgeorge responding to your questions:
* Population at base year is represented by ```Pop2018```
* Sum of people connected at based year by ```ElecPopCalib```
* Technology type at base year by ```FinalElecCode2018```. Note that in the base year we assume everything is grid connected thus above parameter equal to 1.
*  Number of unconnected people:
    * For the base year the easiest way is by ```P

[2019-08-19 12:53] vgeorge commented on #158
@akorkovelos @babakkhavari, I can't add the WBG basemap to the explorer. In order to do so we need it publicly accessible and get its mapbox id. Is the `gsdpm` Mapbox account owned by the WB? Is it posible to reach them to make the map public and provide its mapbox id? Another way would be to migrate its style and raw data to the Mapbox GEP account, but we would still need to reach them so we don'

[2019-08-19 13:59] akorkovelos commented on #158
@nicolinalindblad can you please response in the absence of @bpstewar?
Thanks.

[2019-08-19 17:05] vgeorge commented on #158
@nicolinalindblad and @akorkovelos, you don't need to reach the authors anymore. with help from @danielfdsilva I was able to load the base map locally. It doesnt' show the clusters yet, I need to make some changes in order enable the them and will get back to you with the results.

[2019-08-22 13:42] vgeorge commented on #158
I've managed to update the basemap with national borders provided by the WB-team, you can check at the live website:

- http://gep-explorer.surge.sh/explore/mw-1

The image below is from the same area reported by @bpstewar at the first comment:

![image](https://user-images.githubusercontent.com/329694/63518639-63a9b080-c4e9-11e9-905e-9dd02e3718b7.png)

@akorkovelos About the clusters files, in S3

[2019-08-22 15:42] akorkovelos commented on #158
@vgeorge please wait for the rest of the countries in WB admin dir. We have just received HRSL for the last 4 remaining countries for which WB clusters are prepared now. We expect to finish and upload them all on S3 soon; not later than CoB tomorrow.

[2019-08-29 15:01] vgeorge commented on #157
We will have to use Devseed's Mapbox account for the launch as GEP's free-tier account is not working. I've reached Mapbox support, but I believe its safer to use Devseed paid account for the official launch.

@karitotp, could you please try to generate and upload the tileset for the smallest and biggest country first?

1. Download:
  - er-1: s3://wbg-geography01/GEP/Clusters%20with%20WB%20admin/e

[2019-08-30 17:34] karitotp commented on #157
@vgeorge I uploaded 46 tileset to Devseed's Mapbox account.

Layer ID | Tileset ID
-- | --
ao-1 | devseed.9hzz88d7
bf-1 | devseed.a98iqqvf
bi-1 | devseed.1f5b1kcp
bj-1 | devseed.7p9es486
bw-1 | devseed.0gut3j5r
cd-1 | devseed.8ajha21o
cf-1 | devseed.35fqu74o
cg-1 | devseed.0h39bkk2
ci-1 | devseed.0l3977hy
cm-1 | devseed.6449fu03
dj-1 | devseed.al3v5bt1
er-1 | devseed.b3l99ngv
et-1 | devseed.5z0sj3

[2019-08-31 11:18] vgeorge opened #191 "Use alphabetical order at countries page"
Currently, country names are not sorted:

<img width="1213" alt="Screenshot 2019-08-31 12 15 27" src="https://user-images.githubusercontent.com/329694/64063214-31830780-cbe9-11e9-95d9-8bcb997ffd95.png">

[2019-09-03 11:49] vgeorge commented on #153
@akorkovelos I believe we don't have all logos from consortium members at the Drive folder. Can you please provide the remaining ones?

[2019-09-04 13:49] ricardoduplos opened #193 "Fix card text overflow"
`Text-overflow: ellipsis` not working:

![Screen Shot 2019-09-04 at 14 46 52](https://user-images.githubusercontent.com/1016701/64260521-ef2c3400-cf22-11e9-92f7-c1870a0de2b4.png)

[2019-09-04 17:20] vgeorge opened #194 "Disabled toggle not fully clickable"
At external layers panel, disabled toggles are not fully clickable. The toggle is only made when clicking at the circle. Active toggles seem to be working properly.

![gep-toggle](https://user-images.githubusercontent.com/329694/64276564-35dc5700-cf40-11e9-8c5e-f52f669ef5b7.gif)

[2019-09-04 18:09] vgeorge commented on #158
I believe this issue was addressed, please reopen if it is not the case.

[2019-09-04 18:09] #158 closed

[2019-09-05 12:35] vgeorge commented on #134
@akorkovelos, I've opened an issue at the data service to address renaming "Grid extension", as the labels are provided from there. https://github.com/global-electrification-platform/data-service/issues/72

I'm closing this issue in favor of https://github.com/global-electrification-platform/explorer/issues/188, which specifically address the remaining issue of adding baseline information.

[2019-09-05 12:35] #134 closed

[2019-09-05 13:05] vgeorge commented on #188
@akorkovelos @bpstewar please review the current implementation of the charts with real data:

## Malawi (mw-1)

<img width="203" alt="mw-1" src="https://user-images.githubusercontent.com/329694/64343917-501c4080-cfe5-11e9-8037-91179211dfb9.png">

## Gabon (ga-1)

<img width="202" alt="ga-1" src="https://user-images.githubusercontent.com/329694/64343987-7346f000-cfe5-11e9-98d4-b267bacd5988.png">

[2019-09-06 15:52] #189 closed

[2019-09-06 16:54] #191 closed

[2019-09-09 12:08] akorkovelos commented on #153
Number of scenarios in second paragraph of the About page narrative should be changed from 144 to 216.

[2019-09-09 12:13] akorkovelos commented on #153
@bpstewar @nicolinalindblad can you please place the WB logo in the folder linked earlier in this thread? Also, (@bpstewar) is there a list of the supporting partners (non consortium members) whose support has been confirmed by your side and thus can be included here ?

[2019-09-09 15:21] nicolinalindblad commented on #153
@vgeorge the ESMAP and WBG logos are updated in the folder (linked above). Let us know if you want them in another format than png.

@akorkovelos we are working on the list of supporters.

[2019-09-09 22:45] nicolinalindblad opened #197 "Country front page updates."
Since there is currently only one model running the OnSSET could you please updated the following information:

1. The info under the button directing back to the list of countries should be updated to 'Change country'.

2. The 'COUNTRY OnSSET V1.0' should be changed to 'GEP V1.0'
![GEP_issues2](https://user-images.githubusercontent.com/45182007/64566741-a14d6c80-d324-11e9-80b7-2e7cae6cbd46.png)

[2019-09-10 15:57] akorkovelos commented on #188
@vgeorge from a first look summaries seem correct for most scenarios but not the densification/intensification scenarios. For those two, summed population accounts only for grid connected population rather than the whole country.

Look for example Rwanda, grid densification can reach about 8.92 million people which is about 56% of population in 2030. Yet the graph indicates 100% connected people.

[2019-09-12 09:43] vgeorge opened #198 "Error downloading PDFs"
After implementing baseline chart, PDF download stop working. Reported by Chiara.

[2019-09-16 13:16] nicolinalindblad commented on #197
Thank you @olafveerman and @akorkovelos

[2019-09-16 15:15] #151 closed

[2019-09-16 15:33] vgeorge opened #201 "Updates in model configuration files for official launch"
There are changes to be made at the model configuration files. This is an issue to coordinate that need to be made so Devseed can reingest them. @akorkovelos, can you please review the following and help me wrap up the changes needed?

- Rename model names from "Country ONSET V1.0" to "GEP 1.0", asked by @nicolinalindblad at #197
- Add globalsolaratlas.info data as a map layer, asked by @carderne

[2019-09-16 16:06] carderne commented on #201
@nicolinalindblad @akorkovelos Please loop me in on plans about adding MV lines, as this shouldn't be done until the data and methodology have gone through peer review.

[2019-09-16 16:36] akorkovelos commented on #201
@vgeorge the main changes in the config files are the following:

* Final modification in semantics (e.g. #197, lever 2 name tags, description fixes) @nicolinalindblad @carderne @bpstewar glad if you could flag anything else to be modified before tomorrow's meeting.
* Toggle layers to be activated for a. Topographic map, b. Wind & Solar from energydata.info c. Healthsites (#170 #184)
* Link to ful

[2019-09-16 21:52] nicolinalindblad commented on #201
The disputed area between Sudan and S. Sudan are both a dashed and a solid line- should only be dashed.

![Capture](https://user-images.githubusercontent.com/45182007/64995942-9063a480-d8aa-11e9-81d3-5f35f4253378.JPG)

[2019-09-17 10:34] vgeorge opened #203 "Review disputed borders"
The disputed area between Sudan and S. Sudan are both a dashed and a solid line- should only be dashed. The same goes for the border between Morocco and Western Sahara.

![Capture](https://user-images.githubusercontent.com/45182007/64995942-9063a480-d8aa-11e9-81d3-5f35f4253378.JPG)

_Originally posted by @nicolinalindblad in https://github.com/global-electrification-platform/explorer/issues/201#is

[2019-09-17 10:35] vgeorge commented on #201
@nicolinalindblad the map problem was moved to a new issue as it isn't affected by model configuration.

[2019-09-17 10:44] vgeorge commented on #198
I believe this would be too complex to implement at the moment. One posible approach would be to include a new option at the download button for the single file that includes all summaries. The link would be the same for all scenarios within a model. What do you think, @akorkovelos?

[2019-09-17 10:49] vgeorge commented on #197
Button label was updated. Also model name is hidden when there are no other models for the same country. If there is still the need to change model name we can resume discussing at #201.

[2019-09-17 10:49] #197 closed

[2019-09-17 10:57] vgeorge commented on #187
Done.

[2019-09-17 10:57] #187 closed

[2019-09-17 11:03] ricardoduplos opened #204 "Include country/model disclaimer"

[2019-09-17 12:28] #193 closed

[2019-09-17 13:46] nicolinalindblad commented on #153
We have added a [subfolder](https://drive.google.com/drive/folders/1NKzouSX7M1Goo2gSgMQchmveXoKMpago) for the organisations that have contributed and are endorsing the platform. Could these please be added under a third subcategory _'In collaboration with'_ . There are currently 3 logos there, but we are working on getting an additional 3 confirmed.

[2019-09-17 14:14] nicolinalindblad commented on #201
Thank you @vgeorge

[2019-09-17 14:22] vgeorge commented on #201
@akorkovelos, as we discussed today, here is a sheet to coordinate better the model config layer updates. Your can add layer configurations for each country:

https://docs.google.com/spreadsheets/d/1N1sXjo2yGNoQdcUPFKq_xr716_FyolkVx-G1L_h-tP8/edit?usp=sharing

Once we have all the details set I'll transfer to the files and reingest.

[2019-09-17 15:08] bpstewar commented on #203
This relates to the basemap, doesn't it? What basemap are you using?

[2019-09-17 16:42] vgeorge commented on #204
There is the need to include a short message and a link at the summary panel when there are some aspects of the model that need to be clarified at the explorer page, like the usage of MV lines. The work group decided not to include this in the official launch. I'm removing from the [current milestone](https://github.com/global-electrification-platform/explorer/milestone/1) and leaving it open as a

[2019-09-17 18:27] vgeorge opened #207 "Ivory Coast and Uganda data"
@babakkhavari I've reingested the tilesets for Ivory Coast and Uganda, I believe the problem is not there. Screenshots:

![image](https://user-images.githubusercontent.com/329694/65067422-64b1ee80-d97e-11e9-832d-915e2ea2ccdb.png)

![image](https://user-images.githubusercontent.com/329694/65068671-f589c980-d980-11e9-82ac-d2960f12464f.png)

Looking at scenarios files, some elec type values are not i

[2019-09-17 22:29] nicolinalindblad opened #208 "Lever #6 naming"
For the rollout plan lever please remove the names (Densification, intensification) and include only what is in the brackets.
Densification (grid connection within 1km) --> Grid connection within 1 km
Intensification (grid connection within 2km)--> Grid connection within 2 km

[2019-09-18 06:19] babakkhavari commented on #207
@vgeorge after you reingested the tiles the entire map appears for both countries. I will check some different scenarios and if they work I will mark it in your google doc as resolved.

[2019-09-18 08:45] akorkovelos commented on #201
Naming on lever 2 has been updated.
Working on #208.

[2019-09-18 08:49] akorkovelos opened #209 "Filter's do not allow manual edit of range slider"

[2019-09-18 10:01] vgeorge commented on #207
Good! I recommend checking by sample if totals match from input tables, specially in the intermediate years. There might be features being dropped because of elec code type issue in input data.

[2019-09-18 10:01] #207 closed

[2019-09-18 13:01] EricSoroos opened #211 "Explorer should gracefully handle timeouts"
The Explorer frontend should gracefully handle gateway timeouts or other errors on the backend:
(from the chrome devtools console)
[code]

Later requests may succeed from the cache, but it requires a reload of the app, because it's hung due to the error, and that kills the context.

I'd suggest that on error, the frontend should retry the request. Eventually, it should work. However, to avoid kill

[2019-09-18 13:07] EricSoroos opened #212 "CORS issue"
When serving the frontend on a different https domain than the backend, I'm getting a CORS error in the console:

[code]

 I'm not sure if we can do a no-cors on the front end, or if something needs to be set on the API server.

[2019-09-18 16:42] vgeorge commented on #198
The error was fixed and deployed. As discussed in yesterday meeting, @bpstewar will coordinate to have pages for each country model at energy.info. Let's follow up in #113.

[2019-09-18 16:42] #198 closed

[2019-09-18 17:17] vgeorge commented on #183
We are coordinating with Derilinx and the migration is ongoing. Details can be followed via these milestones:

- https://github.com/global-electrification-platform/data-service/milestone/1
- https://github.com/global-electrification-platform/explorer/milestone/1

cc @EricSoroos

[2019-09-18 17:17] #183 closed

[2019-09-18 17:20] vgeorge commented on #180
@EricSoroos I've deployed successfully the countdown page, but it seems that there is some permission issue at http://gep-explorer-devseed-public.s3-website-us-west-2.amazonaws.com.

The command I did was:

[code]

[2019-09-18 17:26] vgeorge commented on #133
I've updated the comment above with the remaing tasks for this issue. Please let me know if you have any comments.

cc @bpstewar @akorkovelos @EricSoroos

[2019-09-18 18:02] EricSoroos commented on #180
You shouldn't need to set the acl, everything on that bucket is public.

[2019-09-19 08:59] vgeorge commented on #180
@EricSoroos Is it set as a website hosting bucket? I'm still getting forbidden access, even if I try to access a file directly:

https://gep-explorer-devseed-public.s3.amazonaws.com/index.html

[2019-09-19 10:16] vgeorge commented on #188
@akorkovelos @babakkhavari here are fields used for calculating total and connected population (relevant code [here](https://github.com/global-electrification-platform/data-service/blob/a66be2b2c8f289cb3731a65c5eaa61254e47d133/cli/scenarios.js#L164-L173) and [here](https://github.com/global-electrification-platform/data-service/blob/a66be2b2c8f289cb3731a65c5eaa61254e47d133/cli/scenarios.js#L164-L1

[2019-09-19 10:20] AndreasSahlberg commented on #188
Dear all,

To follow up on the discussion we had, please see an example of Burundi. If choosing the High demand target, and selecting 2025 we get the following results:

As we can see, there are a lot of PV mini-grids deployed between 2018-2025. This is also displayed in the summary chart on the right, where the summaries are correct for 2025. However, many of the mini-grids get connected to the g

[2019-09-19 10:23] vgeorge commented on #170
@akorkovelos here is the issue related to the Health Sites layer.

[2019-09-19 11:32] vgeorge commented on #203
This is a basemap provided by Mapbox with OSM data, with WB borders applied over it, as discussed at #158. I've disabled the disputed borders layer and the dashed line is gone. I believe this is fixed, please reopen if you find any issue.

cc @nicolinalindblad @bpstewar

[2019-09-19 12:30] akorkovelos commented on #170
Health sites from [HDX](https://data.humdata.org/) are available for 43 countries. Country files were downloaded and compiled into a single shapefile. It is available now on S3 under the name ```Healthsites```.

@vgeorge does this work?

[2019-09-19 12:49] EricSoroos commented on #180
It is, and the public access portions are set up exactly the same as https://gep-explorer-public.s3.amazonaws.com/index.html.

I've made a change to it, I'm not sure it it will do the trick, but repush anyway, and if it doesn't work, I'll look at fixing it in cloudfront, which can have privs on the bucket.

[2019-09-19 16:16] bpstewar commented on #203
Vitor, you fixed it in the wrong direction - the solid borders in the Mapbox basemap are incorrect, we need the dashed borders.

The basemap needs to be borderless, and the the WBG borders need to be overlaid, or you need to use the WBG basemap as the basemap

Neutral Color Basemap - https://api.mapbox.com/styles/v1/gsdpm/cir6ljf470006bsmehhstmxeh.html?title=true&access_token=pk.eyJ1IjoiZ3NkcG0iLC

[2019-09-19 17:39] vgeorge opened #214 "Change precision at population chart"
_Originally posted by @akorkovelos in https://github.com/global-electrification-platform/explorer/issues/188#issuecomment-530003843_

[2019-09-19 17:41] vgeorge commented on #188
We have deployed changes correcting the way of calculating summaries, could you please review?

cc @akorkovelos @AndreasSahlberg @babakkhavari

I've moved the precision issue to #214, we didn't tested the impact of decimal places yet.

[2019-09-20 11:38] akorkovelos commented on #208
Names have been updated in the config files. The latter have been uploaded on S3.

[2019-09-20 11:38] #208 closed

[2019-09-20 11:41] akorkovelos commented on #201
#208 is closed. Config files are now ready - from our (KTH) side - regarding updates on semantics and uploaded on S3.

[2019-09-20 11:53] vgeorge commented on #203
@bpstewar

The borders from Mapbox were already hidden and the dashed lines did came from their map. What I did was to hide them, the solid border are from the file provided by Alex at this link:

https://drive.google.com/drive/folders/1N3l1RQOLIDkuRpOUkyfk3iniHhydXBfK

The issue is that the WB borders provided didn't include disputed territories, so we can't style them.

In the current implementa

[2019-09-20 13:28] olafveerman opened #217 "Analytics"
The Explorer doesn't have analytics set up at the moment. I can imagine we want to track visits to the site on launch.

@bpstewar @nicolinalindblad do you have a particular service / account that this should be tracked against? If not, we can set up a new GEP account on Google Analytics.

[2019-09-20 13:57] vgeorge commented on #209
@akorkovelos this is available for testing. Now you can edit the value and, after leaving the input, the filter range will be updated. Please note that if the value is too low in comparison to the full range the slider won't change, but the filter will be set. You can see it working at https://github.com/global-electrification-platform/explorer/pull/216.

[2019-09-20 14:03] vgeorge commented on #214
@akorkovelos deployed, please review. A video of the expected behavior is available at https://github.com/global-electrification-platform/explorer/pull/215.

[2019-09-20 17:49] akorkovelos commented on #201
Following up on the toggle layers. @vgeorge please can you provide an update on the following:
* Healthsites - use shp that has been uploaded on S3 (#170)
* See whether we can use XYZ tiles hosted on AWS for [Solar GHI](https://globalsolaratlas.info/?c=4.127285,45.175781,3&m=sg:ghi) and [Wind Speed at 50m](https://globalwindatlas.info/)
* Topographic map
* Education facilities - Extracting OSM dat

[2019-09-20 17:59] vgeorge commented on #170
@akorkovelos I confirm I was able to generate a tileset and upload to our Mapbox account. You can update the fields accordingly, keeping "url", "vectorLayers" and "type" as they are.

[code]

[2019-09-21 16:33] vgeorge commented on #201
@akorkovelos I've finish reingesting the lastest model configuration files from S3. Levers labels and descriptions should be updated now, you can review that part. Additional layers haven't been changed yet, I'm still working on them and will reingest when finished.

[2019-09-21 16:51] olafveerman commented on #214
This was fixed. Closing.

[2019-09-21 16:51] #214 closed

[2019-09-22 08:32] akorkovelos commented on #170
@vgeorge healthsites updated on config files. Uploaded on S3 under ```YML files 22Sep```.

[2019-09-22 08:38] akorkovelos commented on #209
@vgeorge filters seem to work fine now.

[2019-09-22 08:52] #209 closed

[2019-09-22 09:18] vgeorge commented on #153
About page was updated. Please, review:

http://gep-explorer.surge.sh/about

cc @nicolinalindblad @akorkovelos

[2019-09-22 09:23] akorkovelos commented on #201
A few changes on description of lever 5; yml files have been updated anew and uploaded on S3 under ```YML files Sep22```. Awaiting for a decision on additional layers from @vgeorge. Then config files will be placed in county folders as needed.

[2019-09-22 10:47] vgeorge opened #218 "Add Global Solar Atlas as contextual layer"
Global Solar Atlas is available [here](https://globalsolaratlas.info/?c=27.605671,36.734402,3&m=sg:ghi).

This is an example tile query:

- https://tiles.globalsolaratlas.info/ghi/4/0_0/z4_7x8.jpg

It seems that the source tileset does not use [Web Mercator Projection](https://en.wikipedia.org/wiki/Web_Mercator_projection). We need to investigate which projection it is using and how to add it as a

[2019-09-22 10:54] vgeorge opened #219 "Add Global Wind Atlas as contextual layer"
Browser the map [here](https://globalwindatlas.info/).

This is an example tile query:

- https://s3-eu-west-1.amazonaws.com/globalwindatlas2/pd_250_ad_100m_linear/9/278/286.png

It seems that the source tileset does not use [Web Mercator Projection](https://en.wikipedia.org/wiki/Web_Mercator_projection) or is a TMS service. We need to investigate and add it as a layer with MapboxGL.

See:
- https

[2019-09-22 10:58] vgeorge commented on #218
Duplicate of #184, closing.

[2019-09-22 10:58] #218 closed

[2019-09-22 10:59] vgeorge commented on #184
Global Solar Atlas is available [here](https://globalsolaratlas.info/?c=27.605671,36.734402,3&m=sg:ghi).

This is an example tile query:

- https://tiles.globalsolaratlas.info/ghi/4/0_0/z4_7x8.jpg

It seems that the source tileset does not use [Web Mercator Projection](https://en.wikipedia.org/wiki/Web_Mercator_projection). We need to investigate which projection it is using and how to add it as a

[2019-09-22 11:07] vgeorge opened #220 "Add Topographic base map (switch base style)"
Mapbox has a "Outdoor" style which includes topographic lines:

- https://www.mapbox.com/maps/outdoors

This is a [Mapbox style](https://docs.mapbox.com/mapbox-gl-js/style-spec/) (a combination of vector sources and a map stylesheets), not a tileset or a raster layer. I believe the only way it could be displayed in the platform would be by allowing switching the basemap style, which isn't supporte

[2019-09-22 11:09] vgeorge opened #221 "Add Education Facilities as contextual layer"
* Education facilities - Extracting OSM data and will upload findings on S3 (should be similar to healthsites) @babakkhavari

_Originally posted by @akorkovelos in https://github.com/global-electrification-platform/explorer/issues/201#issuecomment-533649850_

[2019-09-22 11:14] vgeorge commented on #170
Model configs were updated and this layer was included.

[2019-09-22 11:27] vgeorge commented on #201
@akorkovelos, I've ingested the `YML files Sep22` of model configuration files. Regarding the maps:

- Healthsites (#170): included;
- Global Solar Atlas (#184) and Global Wind Atlas (#219): we need more info about the layer, as reported at the issues. I suggest removing them until we figure the problem;
- Topographic (#220): As reported at the issue, this would require a significative change at t

[2019-09-22 14:09] akorkovelos commented on #201
@vgeorge, many Healthsites (#170) seem to be missing on the explorer. See below shp Vs Explorer snapshot for  Nigeria. Actually I think it is just an overlaying issue. Can we bring healthsites at the top? Similar with wind and grid lines.?

![image](https://user-images.githubusercontent.com/18657007/65389002-2420ef00-dd49-11e9-8d68-c7d945e702c7.png)
![image](https://user-images.githubusercontent.c

[2019-09-22 14:30] vgeorge commented on #170
@akorkovelos regarding your comment in https://github.com/global-electrification-platform/explorer/issues/201#issuecomment-533885290, I don't believe its a problem with layers overlay, because simplification happens also in areas where there is no settlements.

This is probably related with the way we generated the tileset with tippecanoe. We will explore the optiosn available [here](https://githu

[2019-09-22 14:32] vgeorge commented on #201
I've added a comment on #170. You can leave Healthsites layers as is now. I think we can fix directly at Mapbox Studio and the map key won't change.

[2019-09-22 15:13] akorkovelos commented on #221
@vgeorge Schools shp are now uploaded on S3. Is it possible to generate map keys for those (similar to healthsites)? I will then add on config files as before.

PS. This will be the last change on #201 before the launch.

[2019-09-22 15:36] vgeorge commented on #221
@akorkovelos the following config has type, URL and vectorLayer properties set, you can change the others:

[code]

For the record, I've generated the tileset by running:

[code]

Some properties from OSM data were causing enconding issues, so I just kept `osm_id`.

[2019-09-22 15:56] vgeorge commented on #170
I've updated the layer now with the following command:

[code]

Some tiles seems more complete, but it may take a while to all tiles be affected.

[2019-09-22 16:11] akorkovelos commented on #201
New config files including final additional layers for the launch now uploaded on Se under ```YML files 22Sept_V2```. @vgeorge awaiting for re-ingest to provide a final review.

[2019-09-22 16:26] vgeorge commented on #201
I'm sorry, @akorkovelos, I've added the the wrong map key in #221. It is changes now. Could you please update the files? You can use the same folder (_V2), if you prefer.

[2019-09-22 17:02] vgeorge commented on #201
@akorkovelos I've updated the key locally and reingested the configs. All countries are updated now.

[2019-09-22 17:44] akorkovelos commented on #201
@vgeorge Burundi uses still previous config file. Can you please update? Otherwise the rest seem ok!

[2019-09-23 10:47] vgeorge commented on #212
@EricSoroos the latest website version was deployed to [gep-explorer-devseed-public](https://gep-explorer-devseed-public.s3.amazonaws.com/index.html) bucket, using the following API URL:

https://gep-api-prod.us-west-2.elasticbeanstalk.com

As we already know, this endpoint doesn't serve HTTPS yet, so the site won't work. Once HTTPS is enabled, this CORS issue should be gone as the server should b

[2019-09-23 10:57] EricSoroos commented on #212
Can you push a new version with these urls:
* Frontend = https://electrifynow.info
* Api = https://api.electrifynow.info

[2019-09-23 11:02] vgeorge commented on #201
There was an error in the file. I fixed, ingested and updated it at the S3 bucket in folder `YML files 22Sept_V2`.

[2019-09-23 11:03] vgeorge commented on #170
Healthsites are showing at all levels now.

[2019-09-23 11:03] #170 closed

[2019-09-23 11:13] vgeorge opened #224 "Can't access non-root URLs at production"
Site was successfully deployed to https://electrifynow.info, but it is not possible visit a link like this one:

https://electrifynow.info/countries

[2019-09-23 11:13] vgeorge commented on #212
Deployed and fixed.

[2019-09-23 11:13] #212 closed

[2019-09-23 11:22] vgeorge commented on #224
@EricSoroos can you have a look? I believe it is necessary to redirect all pages requests to index.html, like we do when serving directly from a S3 bucket.

[2019-09-23 11:30] ricardoduplos opened #225 "Pluralize "Model" word only when more then one model exist"
![Screen Shot 2019-09-23 at 12 26 21](https://user-images.githubusercontent.com/1016701/65422100-715e9880-ddfd-11e9-9829-cf55dc00e6fb.png)

[2019-09-23 11:36] EricSoroos commented on #224
Ok, I've made the 403 error from S3 return /index.html at the cloudfront layer.

This seems to be a different issue, index.html exists and is loaded but the front end is displaying an error:

![image](https://user-images.githubusercontent.com/36156267/65422547-13cf4980-de07-11e9-81c0-fa0d45b9a8f8.png)

[2019-09-23 11:44] vgeorge commented on #224
It seems to be working properly now, route /index.html is not supposed to exist.

[2019-09-23 11:45] #224 closed

[2019-09-23 11:46] #188 closed

[2019-09-23 11:57] EricSoroos commented on #212
This still seems to happen if there's a timeout on the data service:
[code]
Given that's it's a secondary error that happens on a fetch failure, I'm not sure that it's important.

[2019-09-23 12:02] vgeorge commented on #212
I think this might be addressed by https://github.com/global-electrification-platform/explorer/issues/211 when done.

[2019-09-23 12:03] vgeorge commented on #180
Website is live at https://electrifynow.info.

[2019-09-23 12:03] #180 closed

[2019-09-23 12:08] vgeorge commented on #221
Layer created and added to the platform.

[2019-09-23 12:08] #221 closed

[2019-09-23 12:13] vgeorge commented on #201
@akorkovelos Alex, I've just noticed a map key error at the ao-1 file. I've fixed, reingested and updated S3. Could you please review the other countries?

[2019-09-23 12:25] vgeorge opened #228 "Cluster popover details not changing after timestep switch"
![popover](https://user-images.githubusercontent.com/329694/65425264-7cb5c200-de05-11e9-9b01-d73d4d433781.gif)

[2019-09-23 12:52] nicolinalindblad commented on #153
Looks great @vgeorge only one thing, could you please remove the title "Credits" and only have 'Consortium' and 'In collaboration with. I just uploaded an additional logo ( Optimus) and will let you know if there are further updates. Thank you.

[2019-09-23 13:25] olafveerman commented on #217
Set up Analytics to report to the energydata.info account.

Will keep this ticket open until the change is deployed and we see visits being tracked.

[2019-09-23 13:43] AndreasSahlberg commented on #228
FYI the cluster details are updated if the page is refreshed after changing the timestep switch

[2019-09-23 13:46] olafveerman commented on #217
![image](https://user-images.githubusercontent.com/751330/65431204-0f933400-dde7-11e9-8b3b-77be1c1f507d.png)

Closing this issue.

[2019-09-23 13:46] #217 closed

[2019-09-23 15:22] nicolinalindblad commented on #153
@vgeorge would you be able to remove UNDP from the collaborators, they have not yet confirmed, so we will have to add them later if they do approve. There should not be any more pending for the launch. Thanks.

[2019-09-23 15:54] nicolinalindblad commented on #153
@akorkovelos @babakkhavari @AndreasSahlberg for the KTH logo should the link be directed to the KTH-desa page or at least the English version of the official website (https://www.kth.se/en)

[2019-09-23 16:07] AndreasSahlberg commented on #153
@nicolinalindblad the English version of the official website should be fine

[2019-09-23 16:07] #225 closed

[2019-09-23 17:22] vgeorge commented on #201
I've made a review, all countries have the proper maps keys now.

[2019-09-23 17:22] #201 closed

[2019-09-23 17:23] vgeorge commented on #153
Requested changes are now live at the production website.

[2019-09-23 18:25] nicolinalindblad commented on #153
New update. Apology for the late updates, but would you please be able to upload [this](https://drive.google.com/file/d/1W7dvus863UYcmRTB7h5JuZLTZ-csbT1x/view?usp=sharing) (confirmed) version of the UNDP logo. Also, the SE4All logo has been updated to a [png.](https://drive.google.com/open?id=1FHSgAVCUicKOjyOgHbxTXTRTPm284fJ-). Also the link for the Facebook logo should be directed to: https://soc

[2019-09-24 13:43] nicolinalindblad commented on #153
@vgeorge I just wanted to follow up on the UNDP logo - we will be presenting the GEP at the UNDP HQ tomorrow, so it is crucial to get it up. Apology for all the turns.

[2019-09-24 16:39] nicolinalindblad commented on #153
Thank you that looks great - one last thing, that might have gotten lost in the thread, there are three missing consortium members: [ABB](https://drive.google.com/open?id=1MndglMWi_xtSNx2iE8xx9LDOmv5g_0FV), [University of Cambridge](https://drive.google.com/open?id=1k_bjLpOMV3Z24W8ido3BFOlwguSFjmUv), and [Google](https://drive.google.com/open?id=1VZY-Hn_q5BrJQOzmf98bKpR6nAx9Auux).

[2019-09-24 16:48] vgeorge commented on #153
@nicolinalindblad I'm sorry, I missed that. Which URLs should they point to?

[2019-09-24 16:52] nicolinalindblad commented on #153
They have not informed us about that - @bpstewar  should we just direct them to the main pages for now?

[2019-09-24 16:55] vgeorge commented on #153
Also, please let me know if there is a specific order to display the logos.

[2019-09-24 18:42] nicolinalindblad commented on #153
You can just put the generic websites for those for now.
For the order: World Bank, ESMAP, KTH and then no specific order.

[2019-09-24 20:50] olafveerman commented on #153
This page is live:

![image](https://user-images.githubusercontent.com/751330/65549387-700b9980-deeb-11e9-80d4-b4370be874dc.png)

Closing this issue.

[2019-09-24 20:50] #153 closed

[2019-09-27 14:19] vgeorge commented on #133
This was wrongly closed, we still need to populate the URL links at the model files. Will add them when energy.info pages are ready.

I believe that instead of offering the download of bulk model files, which are expensive, the model page at energy.info could offer several zipfiles, one for each scenario. An user would be able to download a scenario directly and, if there is need to download all o

[2019-10-08 14:04] vgeorge opened #238 "Improve label for investment chart"
Comment by Chiara:

Is it sufficient to add a comment in the popover like we did for the population chart?

## Actual Investment Chart

![Screenshot 2019-10-08 15 00 11](https://user-images.githubusercontent.com/329694/66402409-b4636300-e9dc-11e9-8621-f7f85da1743a.png)

## Population Chart Popover

![Screenshot 2019-10-08 15 00 17](https://user-images.githubusercontent.com/329694/66402445-c218e880

[2019-10-08 14:16] vgeorge opened #239 "Add reference line where baseline start"
Comment by Chiara:

We need to confirm if the expected implementation is something like the sketch below.

![Screenshot 2019-10-08 15 11 05](https://user-images.githubusercontent.com/329694/66403320-4c158100-e9de-11e9-9ae0-87c91ac20d21.png)

cc @akorkovelos @olafveerman

[2019-10-08 16:36] olafveerman commented on #204
Disclaimers with the countries.

## Digitized MV lines

* Benin
* Burkina Faso
* Malawi
* Namibia
* Uganda

## Modelled MV lines (FB algorithm)

* DRC
* Nigeria
* Ivory Coast

## Modelled MV lines (GridFinder)

* Botswana
* Burundi
* Cameroon
* Comoros
* Djibouti
* Equatorial Guinea
* Eswatini
* Ethiopia
* Gabon
* Ghana
* Guinea Bissau
* Kenya
* Lesotho
* Liberia
* Mali
* Mozambique
* Niger
* Rwan

[2019-10-08 19:35] nicolinalindblad commented on #238
What we need are the accumulated numbers for 2030. Meaning when the 2030 scenario is shown, the graphs should indicate the required investments etc. for the entire model period (2018-2030), and not only 2025-2030 as it appears now. This requires some work I suppose on the backend too @akorkovelos

[2019-10-22 13:30] EricSoroos opened #241 "Production URLs"
@vgeorge

Can you update the appropriate urls in the front-end for:
* Front-end: electrifynow.energydata.info
* API: gep-api.energydata.info

[2019-10-22 16:58] vgeorge commented on #241
@EricSoroos, the URLs [were updated](https://github.com/global-electrification-platform/explorer/blob/master/app/assets/scripts/config/production.js) and the site was deployed to production S3 bucket. Please, let me know if it worked properly.

[2019-10-25 11:47] EricSoroos commented on #241
@vgeorge

There are still some URLs in the html that are pointing at electrifynow.info:
[code]

[2019-10-25 14:59] vgeorge commented on #241
@EricSoroos updated.

[2019-10-25 19:11] EricSoroos commented on #241
Thanks Vitor.

[2019-10-28 09:52] #241 closed

[2019-10-29 15:24] nicolinalindblad opened #244 "Creating a GEP logo"
Would it be possible to create a logo for the GEP, based on the graphics on the platform? Would be useful for marketing purposes.

[2019-10-29 15:26] nicolinalindblad opened #245 "Create GEP logo"
Would it be possible to create a logo for the GEP, based on the graphics on the platform? Would be useful for marketing purposes.

[2019-10-29 15:26] #244 closed

[2019-11-01 13:03] bpstewar opened #246 "Add WB and ESMAP logos to front page"
The WB governance office needs the WB and ESMAP logos on the landing page

[2019-11-01 13:04] bpstewar opened #247 "Additional applications page"
We need a new navigation page providing links to other ESMAP data initiatives

Energydata.info
Global solar atlas
Global wind atlas

Other links will follow

[2019-11-01 13:07] bpstewar opened #248 "Remove read the docs link"
The WB cannot support the read the docs because of the ads.

The issue of read the docs hosting will be raised on that repo, but for now, please remove the link from the main GEP page

[2019-11-01 13:16] bpstewar commented on #248
https://github.com/global-electrification-platform/User_Guide/issues/2

[2019-11-02 01:48] nicolinalindblad commented on #238
I just wanted to follow up and see how you are doing on this/ if you need any input?

[2019-11-02 01:49] nicolinalindblad commented on #219
@bpstewar you mentioned that it won't be possible to add the atlas at this time?

[2019-11-07 18:29] vgeorge commented on #239
Implemented and deployed. Please reopen if there is any issue.

[2019-11-07 18:29] #239 closed

[2019-11-07 19:01] olafveerman commented on #245
@nicolinalindblad
Here's a proposal for the GEP logo. It fits well within the current look and feel of the site, and can be easily used standalone.
Looking forward to your feedback. We're planning to generate the assets for this tomorrow, including version that can be easily used in a presentation.

![image (4)](https://user-images.githubusercontent.com/751330/68418566-789bf480-0166-11ea-98d8-771e

[2019-11-08 09:07] vgeorge commented on #248
@bpstewar link was removed. Contacts that were available in the docs were moved to the about page:

http://gep-explorer.surge.sh/about

[2019-11-08 19:51] #247 closed

[2019-11-08 20:32] olafveerman commented on #246
First approach implemented in the above PR. @ricardoduplos this will probably require some changes in markup to align them to the bottom.

[2019-11-08 20:36] olafveerman commented on #245
Here are the new assets: [GEP_VisualAssets.zip](https://github.com/global-electrification-platform/explorer/files/3826165/GEP_VisualAssets.zip)

In this package, you'll find:

* a file with the vector version of the logo in 3 colours (colour/ darker/ white);
* the white version of the logo in png so you can use it on design decks for presentations (powerpoint etc).

cc @nicolinalindblad

[2019-11-08 20:36] #245 closed

[2019-11-08 21:05] olafveerman commented on #238
@nicolinalindblad
We made the necessary changes to the backend to show them in the Explorer. Once a new version of the backend is released, this will be unblocked.

[2019-11-11 12:10] vgeorge commented on #238
This will be fixed when https://github.com/global-electrification-platform/data-service/pull/94 is merged and deployed.

[2019-11-12 17:55] nicolinalindblad commented on #238
Thank you! @vgeorge and @olafveerman

[2019-11-13 17:22] vgeorge opened #254 "Remove ABB logo from about page"
@AndreasSahlberg @akorkovelos do you need to remove ABB contact as well?

https://electrifynow.energydata.info/about

[2019-11-13 17:25] vgeorge commented on #238
@nicolinalindblad the live version is displaying accumulated investment values from start year.

Example:

- https://electrifynow.energydata.info/explore/bj-1?year=2025&scenario=0_0_0_0_0_0&filters=r5_1242249%7Cr0_254%7C1_3_5_6_7%7Cr0_80%7Cr0_25%7Cr23_2456

- https://electrifynow.energydata.info/explore/bj-1?year=2030&scenario=0_0_0_0_0_0&filters=r5_1242249%7Cr0_254%7C1_3_5_6_7%7Cr0_80%7Cr0_25%7Cr

[2019-11-13 17:29] akorkovelos commented on #254
@vgeorge you can leave ABB contact details there as they are part of the consortium; so no harm there in my opinion. It is just the logo that we do not have clearance to use at the moment. I am sure the green light will come soon by them but until then ABB logo cannot be used.

[2019-11-13 17:55] vgeorge commented on #254
@akorkovelos logo was removed. Please ping on this ticket when you have clearance to add it back.

[2019-11-20 11:27] vgeorge commented on #246
Implemented and deployed, please reopen if there is any issue.

[2019-11-20 11:27] #246 closed

[2019-11-20 11:42] vgeorge commented on #204
@nicolinalindblad this is implemented and deployed on the frontend. It will look like this:

<img width="412" alt="Screenshot 2019-11-19 12 38 04" src="https://user-images.githubusercontent.com/329694/69235860-463cbf00-0b8a-11ea-9ca5-5cc02fa7e79b.png">

For the moment it won't show the disclaimer because the data is not available. These are steps needed to send data to the frontend:

- Deploy upda

[2019-12-02 20:47] bpstewar commented on #248
I have removed the ads on the read the docs page, could the link be reinstated?

[2019-12-10 18:25] bpstewar commented on #133
The model files are now available on energydata.info (although still private for right now). What do you need to link the download link to the energydata.info pages?

[2019-12-11 10:54] EricSoroos commented on #133
Each of the countries has a dataset page with links to the 4 files that we're serving:

![image](https://user-images.githubusercontent.com/36156267/70615395-9dbfcf00-1c0c-11ea-903b-5c8e4a730172.png)

It's probably best to link once to this page in the dropdown.

This is a list of the datasets that are currently on the platform.

[gep-data-links.xlsx](https://github.com/global-electrification-platf

[2019-12-11 16:05] vgeorge commented on #133
Download links are set in model config files like this:

https://github.com/global-electrification-platform/data-service/blob/5925b296c9bac650684c756dbf9211d0081f9455/fixtures/mw-1/mw-1.yml#L11-L13

To make them available at the front-end, all model configs should be updated with the links and reingested.

cc @EricSoroos

[2019-12-12 17:40] nicolinalindblad opened #260 "Borders are not appearing for the Mapbox satellite layer"
![image](https://user-images.githubusercontent.com/45182007/70735624-9667f680-1cdc-11ea-9e10-9704ffee6308.png)

[2019-12-12 18:27] ricardoduplos opened #261 "Replace Relevant Tools menu icon"
Replace square icon with `collecticons-wrench` ([wrench.svg.zip](https://github.com/global-electrification-platform/explorer/files/3957284/wrench.svg.zip)):

<img width="541" alt="Screenshot 2019-12-12 at 18 22 34" src="https://user-images.githubusercontent.com/1016701/70738382-76e8c200-1d0c-11ea-8a82-965008439831.png">

[2019-12-16 14:37] bpstewar commented on #133
Thanks, Vitor, is that something you will do?

[2019-12-16 16:08] vgeorge commented on #133
@bpstewar, @EricSoroos suggested and I created a [repository to host model configuration files](https://github.com/global-electrification-platform/models-configs). We thought that it would be good to put these files under version control to have a better log of changes. If you prefer the previous approach, please let us know.

Regarding the download links, my understanding is that Eric would add t

[2020-01-14 15:43] EricSoroos commented on #133
@vgeorge There are 4 resources in the datasets, including the additional contextual resources that are important for the interpretation of the contents of the other items.

There should be one link to the dataset in the application, rather than the two that are there.

[2020-01-14 15:59] EricSoroos commented on #133
I've sent a PR for the single link

[2020-01-15 15:43] vgeorge commented on #248
Fixed.

[2020-01-15 15:43] #248 closed

[2020-01-24 12:45] AndreasSahlberg commented on #238
Dear all,
It seems like all summary charts are correct with the exception of Investment 2030.

It seems like it currently is:
`INVESTMENT REQUIRED = (InvestmentCost2025 + InvestmentCost2030) x ElecStatusIn2030`

But it should be:
`INVESTMENT REQUIRED = (InvestmentCost2025 x ElecStatusIn2025) + (InvestmentCost2030 x ElecStatusIn2030)`

To clarify, exactly the same calculations that were made for 20

[2020-01-28 13:23] vgeorge commented on #238
Hi @AndreasSahlberg, thanks for catching this. We are working on a fix at https://github.com/global-electrification-platform/data-service/pull/98. We will let you know when it is done.

[2020-01-28 13:50] nicolinalindblad commented on #238
Andreas, how are the different costs for respective technology being
accounted for here?

Den tis 28 jan. 2020 kl 08:23 skrev Vitor George <notifications@github.com>:

[2020-02-18 12:00] vgeorge commented on #238
@AndreasSahlberg a fix on investment cost was pushed to the API, please review if it is following your description.

[2020-02-19 11:02] AndreasSahlberg commented on #238
Dear @vgeorge ,

Thank you for this! I have reviewed some scenarios for Angola (ao), Benin (bj) and Botswana (bw) on the platform.

It seems to me like the following scenarios are correct after the changes:
ao-1-0-2-0-0-0-0
ao-1-0-1-0-0-0-0
bj-1-1-0-0-0-0-0
bj-1-0-1-0-0-0-0
bj-1-0-2-0-0-0-0
bw-1-1-0-0-0-0-0
bw-1-0-1-0-0-0-0
bw-1-0-2-0-0-0-0

However, the following are correct for 2025 but not for

[2020-03-03 19:35] bpstewar commented on #203
Sorry for dropping the ball on this, I added a zipfile with the new boundaries at the link below, use the column style to define

https://drive.google.com/drive/folders/1N3l1RQOLIDkuRpOUkyfk3iniHhydXBfK

[2020-03-24 13:56] bpstewar opened #268 "Error loading data"
I just went to visit the explorer, and a data layer for Kenya is simply not loading - any ideas?

https://electrifynow.energydata.info/explore/ke-1?year=2030&scenario=1_1_0_0_0_0&filters=r2_270657%7Cr0_68%7C1_3_5_6_7%7Cr0_135%7Cr0_96%7Cr16_2839

[2020-03-25 14:13] bpstewar opened #269 "Integrating new data from GSMA"
We have acquired web services for GSMA coverage from Harpers Collins. Could someone work with the technical experts from their side to integrate the maps into the GEP?

[2020-03-25 14:30] jstuartmorton commented on #269
Hello. This is Stuart from Harper Collins.

[2020-03-25 14:45] EricSoroos commented on #269
@bpstewar What layer(s) are you hoping to integrate?  I'm assuming that any of these will be additional layers in the 'extra layers' popup menu.

[2020-05-14 12:24] AndreasSahlberg opened #271 "Update KTH contacts"
https://github.com/global-electrification-platform/explorer/blob/533a024b852fee0d4c1c7f5a9eee18908d55a583/app/assets/scripts/views/About.js#L73

[2020-05-18 12:03] bpstewar commented on #269
You are correct, Eric, we are looking to add layers to the additional layers popup.

Stuart, could you provide the layer information to Eric?

[2020-05-18 12:07] bpstewar opened #274 "Styling additional layers"
We are trying to visualize a database of WHO health facilites, and I was wondering how we can define the styling. @EricSoroos has come up with a prototype at the link below. The link is for Mongolia, but the data are for Africa, so zoom to Africa and turn on the WHO CDS layer.

https://gep.prod.derilinx.com/explore/mn-1

Eric found styling defined internally to the GEP, but I want to find out if w

[2020-05-18 13:15] jstuartmorton commented on #269
Hello Eric. I don't know if you have seen the talk about Mapbox layers. From what I have heard, you don't want Mapbox layers from our Mapbox account. Could you let me know how you would be expecting the data?

[2020-07-14 07:03] #271 closed

[2020-08-18 11:13] babakkhavari opened #275 "Electrification Technology filter intermediate year"
When filtering out technologies in the intermediate year all results disappear and you get a message saying "No data is available for this scenario. Please choose a different set of levers." This happens in situations when you can clearly see that the remaining technologies exist in the intermediate year without filters applied.

[2022-02-24 14:22] #121 closed

[2022-02-24 14:24] #275 closed, assigned to nobody

[2022-02-24 14:25] #268 closed

[2022-02-24 14:25] #261 closed

[2022-02-24 14:26] #254 closed

[2022-02-24 14:27] #260 closed

[2022-02-24 14:28] #238 closed

[2022-02-24 14:29] #220 closed

[2022-02-24 14:33] bpstewar commented on #228
This is still an issue; the pop-up updates when the levers are changed, but not when the timestep changes

[2022-02-24 14:36] #194 closed

[2022-02-24 14:38] #171 closed

[2022-02-24 17:23] akorkovelos commented on #103
Reviving this issue as per latest request from the operations team. @EricSoroos is it possible to export the charts into the PDF report? @bpstewar for your reference.

[2022-02-24 17:31] akorkovelos opened #276 "Format of values in PDF"
There has been a request to improve the format of values in the PDF document. Replace empty space every three digits with a comma in all three parameters (population, investment and capacity). For example instead of showing investment as $ 4 343 434 --> $ 4,343,434

[2022-02-24 17:31] akorkovelos commented on #276
@bpstewar for your reference